.main-nav{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: transparent;
    .container{
        height: 80px;
    }
    .navbarr{
        display: flex;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        .left-nav{
            height: 80px;
            // width: 1224px;
           
            .commands{
                .ul1 {
                
                        height: 80px;
                        list-style: none;
                        display: flex;
                        justify-content: center;
                        padding-left: 0;
                        gap: 33px;
                        align-items: center;
                
                        li {
                            margin-bottom: 0;
                
                            a {
                                padding-left: 0px;
                                padding-right: 0px;
                                padding-top: 20px;
                                padding-bottom: 20px;
                                font-family: 'Inter Tight', sans-serif;
                                font-weight: 500;
                                color: white;
                                text-decoration: none;
                                position: relative;
                                padding: 20px 0;
                                font-family: 'Inter Tight', sans-serif;
                                font-weight: 500;
                                color: white;
                                text-decoration: none;
                                position: relative;
                              
                                
                            }
                
                       
                
                            a::before {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 17px;
                                height: 1%;
                                width: 100%;
                                background-color: white;
                                transform: scaleX((0));
                                transform-origin: right;
                                transition: transform .4s linear;
                            }
                
                            a:hover:before {
                                transform: scaleX((1));
                                transform-origin: left;
                                z-index: 1;
                            }
                
                            ul {
                               
                                // padding-top: 41px;
                                position: absolute;
                                list-style: none;
                                top: 51 px;
                                // z-index: -1;
                                width: 200px;
                                display: flex;
                                flex-direction: column;
                                padding-left: 0;
                                .bos{
                                    background-color: transparent;
                                    height: 29px;
                                    margin-top: 0px;
                                }
                                .bos:hover{
                                    transform: scale(1);
                                }
                
                                li {
                                    background: white;
                                    width: 100%;
                                    display: flex;
                                    align-items: center;
                                    height: 52px;
                                    justify-content: flex-start;
                
                                    a {
                                        color: black;
                                        margin-left: 23px;
                
                
                                    }
                                }
                
                                li:hover {
                                    cursor: pointer;
                                    transition: transform .2s linear;
                
                                    transform: scale(1.03);
                
                
                                    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.30) 0px 1px 3px -1px;
                
                                }
                            }
                        }
                
                       
                        .sub-menu{
                           display: none;
                        }
                
                        .active:hover .sub-menu {
                            display: block;
                        }
                
                    }
            }

        }
        .right-nav{
            display: flex;
            width: auto;
            justify-content: space-around;
            gap: 30px;
            color: white;
            padding-top: 10PX;
            div{
                cursor: pointer;
                display: flex;
                align-items: center;
                height: 44px;
                
                a {
                    padding-left: 0px;
                    padding-right: 0px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-family: 'Inter Tight', sans-serif;
                    font-weight: 500;
                    color: white;
                    text-decoration: none;
                    position: relative;
                    
                }
    
            
    
                a::before {
                    content: '';
                    position: absolute;
                    left: 0;
                    bottom: 17px;
                    height: 1%;
                    width: 100%;
                    background-color: white;
                    transform: scaleX((0));
                    transform-origin: right;
                    transition: transform .4s linear;
                }
    
                a:hover:before {
                    transform: scaleX((1));
                    transform-origin: left;
                    z-index: 1;
                }
            }
            .book{
                width: 191px;
                display: flex;
                height: 44px;
                background-color: #191919;
                align-items: center;
                justify-content: center;
                transition: all .3s;
            }
            .book:hover{
                background-color: black;

            }
            
            
        }
        
    }
}
.main-nav.active{
    background-color: black;
    transition: all .4s;
}

